/* This is the page for the navbar 1 css */
.NavbarMainContainer{
    padding: var(--spacing-3xl);
    width: var(100%);
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.LogoNavTxtContainer{
    width: 856px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: var(--spacing-none);
}

.logoContainer{
    width: fit-content;
    height: auto;
}

.navTxt{
    width: 562px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: var(--spacing-3xl);
    flex-shrink: var(--spacing-none);
}

.btnContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    column-gap: var(--spacing-xs);
}