*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 30%;
  margin: 4rem auto;
}

.label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: var(--subtitle-3-font-size);
  font-weight: var(--font-weight-medium);
  color: var(--text-primary-black);
}

.trigger {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  font-size: 0.875rem;
  background-color: white;
  border: 1px solid var(--disabled-outline);
  border-radius: 0.5rem;
  cursor: pointer;
}

/* .trigger:hover {
  background-color: #f9fafb;
} */

/* .selectedContent {
  color: #374151;
} */

.placeholder {
  color: var(--input-placeholder);
}

.chevron {
  width: 1rem;
  height: 1rem;
  color: var(--icon-default-color);
}

.dropdownMenu {
  position: absolute;
  z-index: 10;
  width: 100%;
  margin-top: 0.25rem;
  background-color: white;
  border: 1px solid var(--border-light);
  border-radius: var(--radius-xs);
}

.optionsList {
  padding: 0.25rem 0;
  max-height: 15rem;
  overflow: auto;
}

.option {
  padding: 0.75rem 1rem;
  font-size: var(--subtitle-3-font-size);
  color: var(--text-primary-black);
  cursor: pointer;
  border-top: 1px solid var(--border-light);
}

.option:hover {
  background-color: #f3f4f6;
}


